<% if @posts.any? %>
  <% @posts.each do |post| %>
    <%= image_tag post.image.url(:thumb) %>
    <%= link_to "#{post.caption}", post_path(post), 'data-no-turbolink' => true %>
    <%= link_to "Edit #{post.caption}", edit_post_path(post) %>
    <%= link_to "Delete #{post.caption}", post_path(post), method: :delete %>
    <%= link_to "Comment on #{post.caption}", new_post_comment_path(post) %>
  <% end %>
<% else %>
  No posts yet!
<% end %>

<% if user_signed_in? %>
<a href='/posts/new'>New Post</a>
<% end %>
