<%= @post.caption %>
<%= image_tag @post.image.url(:medium) %>

Comments:
<% if @post.comments.any? %>
  <ul>
    <% @post.comments.each do |comment| %>
      <li>
        <%= comment.comment %>
        <span class='likes_count'><%= comment.likes.count %></span> likes
        <%= link_to "Like", comment_likes_path(comment), class: 'likes_link' %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No comments yet</p>
<% end %>
